*{
	margin:0px;padding:0px;
}
body{
	margin:0px;
 	height:100%;
	width:100%;
	display:table;
	position:absolute;
}
.youvote-line{
	font-size:7px;text-align:center;background-color:white;
}

#lesson-header{
	height:100%;width:250px;
	border-right:1px solid #999;
	border-left:1px solid #999;
	padding:0;overflow:hidden;
	background-color:#eee;
	position: absolute; top:0px;left:0px;
}
#lesson-id{
	width:248px;height:70px; 
	padding:10px 0 10px 0;
	font-family:'Lucida Sans Typewriter','Lucida Console','Courier New';
	text-align:center; letter-spacing: 4px; font-size:35px;
	vertical-align:middle;
	background-color:white;
}
#lesson-content{
	margin-left:250px; width:auto; height:100%; overflow:hidden;
}
#nav-btns{
	width:248px;padding:15px 10px 15px 10px;background-color:white;
}
#nav-btns > button{
	width:76px;
}